*.swp
*.py
*.pyc
*.o
*.bin
tests/*_tu
src/config.h
todo
lali
*.gdb*
./core
.clang_complete
tags
tags.*
**/tags
*.a
GPATH
GRTAGS
GTAGS
*.~
.dir-locals.el
.project.ede.el
aclocal.m4
autom4te.cache
*.cache
compile
configure
depcomp
install-sh
missing
Makefile.in
Makefile
*.deps
stamp-h1
*.log
*.status
.build
