body {
    font-family: Helvetica;
}

h1.header {
    text-align: center;
    border-style: none;
    border-width: 1px;
    background: lightgray;
    padding: 10px;
    font-size: 1.2em;
}

table.dump {
    border-style: solid;
    border-width: 2px;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
}

table.dump th {
    border-bottom: solid;
    border-width: 1px;
    text-align: left;
    padding: 4px;
}

td.key {
    text-align: left;
}

td.value {
}

div#container {
    margin-left: 2em;
    margin-right: 2em;
    width: 95%;
    padding: 10px;
    border-width: 1px;
    border-style: none;
}